:root {
    --bg-button: #f0f0f0;
    --bg-button-active: #ccc;
    --bg-button-operation: #fa8231;
    --border-button: solid 1px #888;
}

.button {
    font-size: 1.4em;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
    border-radius: 2px;

}

.button:active{
    background-color: var(--bg-button-active);
}

.button.double{
    grid-column: span 2;
}

.button.triple{
    grid-column: span 3;
}
.button.operation{
    background-color: var(--bg-button-operation);
    color: #FFF;
}

.button.operation:active{
    background-color: #fa8231cc;
}