@font-face {
  font-family: 'RobotoMono';
  src: url('./fonts/RobotoMono-Light.ttf');
}

* {
  font-family: 'RobotoMono', monospace;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #fff;
  background: linear-gradient(to right, rgb(17, 67, 87), rgb(242, 148, 146));

  height: 90vh;

}

